
body {
    background-color: rgba(244, 238, 238, 0.652);
}


.container {
    display: flex;
    justify-content: center;
    margin: 5px 10px;
}

.container>div {
    width: 50%;
}

.plyr {
    box-shadow: none;
    border-radius: 5px;
}