@import url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
                

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SF Pro Display";
    background-color: #333;
}




/*
    posters
*/
.title_poster {
    font-weight: 400;
}

.posterlink {
    color: white;
    text-decoration: none;
}

.poster {
    border-radius: 20px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    object-fit: cover;
    width: 100%;
}

.container_poster {
    margin: 10px 10px;
}

.infos {
    font-weight: 300;
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    font-size: 0.7rem;
}

.infos>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
}

.category {
    border: solid 1px rgb(202 202 202 / 23%);
    padding: 4px 3px;
    border-radius: 3px;
    margin-left: 3px;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
}

.dot {
    background-color: white;
    padding: 2px;
    border-radius: 5px;
}