
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ title }</title>
    <link rel="stylesheet" href="/assets/packages/bootstrap-5.2.3/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="/assets/css/cadastro/style.css">
</head>
<body>


    <div class="container">

        <div>
            <div class="">
                <span>Digite suas crendenciais</span>
            </div>

            <form>
                <div class="credentials">
                    <input type="text" name="email" placeholder="E-mail">
                    <input type="text" name="password" placeholder="Password">
                </div>

                <div class="actions">
                    <button type="button" id="cadastro">Cadastro</button>
                    <button type="button" id="login">Login</button>
                </div>
            </form>

        </div>


    </div>






    <script src="/assets/packages/bootstrap-5.2.3/js/bootstrap.min.js"></script>
    <script src="/assets/packages/jquery-3.6.4/jquery-3.6.4.min.js"></script>
    <!-- <script src="/assets/js/interations.js"></script> -->
    <script src="/assets/js/cadastro/dataprocessing.js"></script>

</body>
</html>