<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/packages/bootstrap-5.3.0-alpha3/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <div class="container-fluid">
        
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand me-5 text-light pb-0" href="#">Logo aqui</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav hstack gap-4">
                <li class="nav-item"><a class="nav-link fw-bolder p-0 text-light" href="#">Filmes</a></li>
                <li class="nav-item"><a class="nav-link fw-bolder p-0 text-light" href="#">Series</a></li>
                <li class="nav-item"><a class="nav-link fw-bolder p-0 text-light" href="#">Animes</a></li>
              </div>
            </div>
    
            <div class="d-flex justify-content-end align-items-center">
              <form class="d-flex">
                <div class="hstack gap-2">
                  <input class="form-control py-1 rounded-1 border-1 shadow-none border-secondary input-mobile d-none d-md-block" type="search" name="">
                  <i class='bx bx-sm bx-search icon-lupa text-light'></i>
                </div>
              </form>
              <!-- <a class="btn btn-sm ms-4 border-1 border-secondary rounded rounded-1 btn-entrar d-none d-sm-block" href="">Entrar</a> -->
            </div>
        </nav>

        <div class="">

            <div class="d-flex content-main">
              <div class="flex-shrink-0">
                <img class="image-content-details" src="https://vizer.tv/content/movies/posterPt/342/39344.webp" height="520" width="342" loading="lazy" decoding="async">
              </div>
              <div class="d-flex flex-column content-details">
                  <div class="name-content-details"><span>Agente Infiltrado</span></div>
                  <div class="info-content-details">
                    <div class="year-content-details">2023</div>
                    <div class="rating-content-details">7.0</div>
                  </div>
                  <div class="sinopse-content-details"><span>Um homem enfrenta um dilema moral depois de se infiltrar em um grupo criminoso. A situação piora quando o filho do chefe, um garoto de oito anos, entra na jogada.</span></div>
                  <div>
                    <a class="btn-assistir-content-details" href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      <div class="d-flex align-items-center">
                      <i class='bx bx-play icon-play-content-details'></i>
                      Assistir
                      </div>
                    </a>
                    <a class="btn-assistirdepois-content-details" href="">
                      <div class="d-flex align-items-center">
                      <i class='bx bx-calendar-heart icon-notepad-content-details me-1'></i>
                      Ver Depois
                      </div>
                    </a>
                  </div>
              </div>
            </div>










            <div class="start-content-details">

                  <!-- Button trigger modal -->
                  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Launch static backdrop modal
                  </button> -->

                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header modal-header-content-details">
                          <div class="">
                            <button type="button" class="btn-close btn-close-white btn-close-content-details" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                        </div>
                        <div class="modal-body">
                          <!-- Temporadas -->
                          <div class="">
                            <div class="d-flex align-items-center">

                                <div class="dropdown dropend">
                                  <button class="btn btn-sm dropdown-temporadas-content-details btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                                    Temporada 1
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-content-details">
                                    <div class="">
                                      <button class="dropdown-item dropdown-item-content-details" id="temporada1" type="button" value="1">Temporada 1</button>
                                      <button class="dropdown-item dropdown-item-content-details" id="temporada1" type="button" value="2">Temporada 2</button>
                                      <button class="dropdown-item dropdown-item-content-details" id="temporada1" type="button" value="3">Temporada 3</button>
                                      <button class="dropdown-item dropdown-item-content-details" id="temporada1" type="button" value="4">Temporada 4</button>
                                    </div>
                                  </ul>
                                </div>
                              <i class='bx bx-show icon-show-content-details ms-auto'></i>
                            </div>
                          </div>
                          <hr class="text-white hr-content-details">

                          <div class="episodios-content-details">
                            <ul class="list-group">
                              

                              <div class="accordion accordion-temporadas-content-details" id="accordionExample">

                                <div class="accordion-item accordion-item-content-details">

                                  <div class="d-flex align-items-center">
                                    <h2 class="accordion-header" id="headingTwo">
                                      <button class="accordion-button accordion-button-content-details collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                        Episódio 1
                                      </button>
                                    </h2>
                                    <i class='bx bx-play accordion-icon-play-content-details'></i>
                                    <i class='bx bx-show icon-show-content-details'></i>
                                  </div>
                                  <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body accordion-body-content-details">
                                      Séries e filmes se tornaram parte integrante de nossas vidas hoje em dia. Com inúmeras plataformas de streaming disponíveis, as pessoas podem acessar uma vasta gama de conteúdo de qualquer lugar e a qualquer momento. Abriu um mundo de opções de entretenimento, e assistir compulsivamente se tornou um passatempo popular. Esses shows e filmes não servem apenas como entretenimento, mas também fornecem um meio de educação e informação sobre vários temas. Eles têm o poder de se conectar emocionalmente com o público, proporcionar risos, lágrimas e inspiração. Do drama e romance à ficção científica e thrillers, há algo para todos no mundo dos filmes e séries.
                                    </div>
                                  </div>

                                </div>

                              </div>







                              <!-- <li class="list-group-item list-group-item-content-details d-flex align-items-center">
                                <label class="form-check-label form-check-label-content-details me-auto" for="firstCheckbox">Episódio 1</label>
                                <i class='bx bx-show icon-show-content-details'></i>
                              </li> -->



                            </ul>
                          </div>

                        </div>
                        <!-- <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div> -->
                      </div>
                    </div>
                  </div>

            </div>


        </div>




    </div>











    <script src="/assets/packages/bootstrap-5.3.0-alpha3/js/popper.min.js"></script>
    <script src="/assets/packages/bootstrap-5.3.0-alpha3/js/bootstrap.min.js"></script>
    <script src="/assets/packages/jquery-3.6.4/jquery-3.6.4.min.js"></script>
    <script src="/assets/packages/siema-1.5.1/js/siema.min.js"></script>
    <script src="/assets/js/content-details/interacoes.js"></script>
    <script src="/assets/js/content-details/dataprocessing.js"></script>
</body>
</html>