<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/packages/bootstrap-5.2.3/css/bootstrap.min.css">
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>


  <div class="container-fluid">

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand me-5 text-light pb-0" href="#">Logo aqui</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav hstack gap-4">
            <li class="nav-item"><a class="nav-link fw-bolder p-0 text-light" href="#">Filmes</a></li>
            <li class="nav-item"><a class="nav-link fw-bolder p-0 text-light" href="#">Series</a></li>
            <li class="nav-item"><a class="nav-link fw-bolder p-0 text-light" href="#">Animes</a></li>
          </div>
        </div>

        <div class="d-flex justify-content-end align-items-center">
          <form class="d-flex">
            <div class="hstack gap-2">
              <input class="form-control py-1 rounded-1 border-1 shadow-none border-secondary input-mobile d-none d-md-block" type="search" name="">
              <i class='bx bx-sm bx-search icon-lupa text-light'></i>
            </div>
          </form>
          <!-- <a class="btn btn-sm ms-4 border-1 border-secondary rounded rounded-1 btn-entrar d-none d-sm-block" href="">Entrar</a> -->
        </div>
    </nav>

  
    <div class="content">

      <div id="carouselExampleCaptions" class="carousel carousel-main slide mt-1 carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators"></div>
        <div class="carousel-inner rounded rounded-2"></div>
      </div>

      <div class="vstack gap-2 mt-3">
        <div class="hstack">
          <span class="fw-bold text-white opacity-75 me-auto">Lançamentos</span>
          <a class="text-white btn-poster-more fw-bold opacity-75 border border-0" href="">Ver mais</a>
        </div>
        <div class="poster-list-releases">
          <div class="siema siema-items-releases"></div>
        </div>
      </div>
      <div class="vstack gap-2 mt-3">
        <div class="hstack">
          <span class="fw-bold text-white opacity-75 me-auto">Top</span>
          <a class="text-white btn-poster-more fw-bold opacity-75 border border-0" href="">Ver mais</a>
        </div>
        <div class="poster-list-in_high">
          <div class="siema siema-items-in_high"></div>
        </div>
      </div>



    </div>





  </div>
  


  <script src="/assets/packages/bootstrap-5.2.3/js/bootstrap.min.js"></script>
  <script src="/assets/packages/jquery-3.6.4/jquery-3.6.4.min.js"></script>
  <script src="/assets/packages/siema-1.5.1/js/siema.min.js"></script>
  <script src="/assets/js/interations.js"></script>
  <script src="/assets/js/navbar/navbar.js"></script>
  <script src="/assets/js/carousel-home.js"></script>


</body>
</html>